.cardNasa{
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 20px;
	border: 1px solid #c8dae8;
	border-radius: 10px;
	width: 400Px;
	height: 450px;
	background: #d8e5ea;
	-webkit-box-shadow: -10px -8px 30px -1px rgb(172, 184, 241);
	-moz-box-shadow: -10px -8px 30px -1px rgb(172, 184, 241);
	box-shadow: -10px -8px 30px -1px rgb(172, 184, 241);
}
.cardNasa:hover {
	border: 2px dotted blue;
}
.imageContent{
	width: 100%;
	height: 73%;

}
.imageNasa{
	border-radius: 10px 10px 0 0;
	height: 100%;
	max-height: 400px;
	width: 100%;
	max-width: 400px;
	background-size: cover;
	-webkit-box-shadow: 0 10px 14px -2px rgba(0,0,0,0.7);
	box-shadow: 0 10px 14px -2px rgba(0,0,0,0.7);
}
.titleNasa h2{
	color: red;
	text-align: center;
	font-size: 17px;
}
.dateNasa p{
	color: black;
	text-align: center;
}
.titleNasa {
	width: 90%;
	
	border: 1px solid #b0b5e2;
	border-radius: 10px;
    margin-bottom: 5px;
}